/*Estos son estilos globales, fuentes y animaciones que se usaran en todo el proyecto*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    min-width: 733px;
    font-size: 62.5%;
}
body{
    zoom: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: url("./../resources/images/fondo2.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    animation: LoadAnimation 2.5s linear;
}
header{
    position: sticky;
    top: 0;
    background-color: rgb(255, 210, 210);
    border-bottom: solid 1px;
    border-color: violet;
}
#NavBar{
    max-width: 130rem;
    margin: 0;
    
}
#NavBar__items{
    display: flex;
    list-style: none;
    justify-content: left;
    align-content: center;
    padding-left: 5rem;
    margin: 0;
    
}
#NavBar__items li{
    padding: 1.4rem 1.6rem;
    outline: none;
    
}
#NavBar__items li:hover{
    background-color: violet;
    color: black;
    cursor: pointer;
}
#NavBar__items li a{
    color: black;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 2.5rem;
}
#NavBar__items li a.icon{
    display: none;
}
.logo{
    padding-top: 0.5rem;
    width: 8rem;
}
main{
    /*height: 100vh;
    width: 100vw;*/
    margin-top: 2rem;
    
}
.container{
    margin: 0 auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure{
    width: 40rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: solid 0.1rem;
    border-radius: 0.5rem;
}
figure img{
    display: block;
    margin: 0 auto 1rem auto;
    max-height: 35rem;
    max-width: 100%;
    border-radius: 0.5rem;
}
figure figcaption{
    font-size: 1.8rem ;
}
.contact{
    padding: 1rem 0 1rem 0;
    text-align: center;
}
.contact input{
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    border: solid 0.1rem;
    border-color: violet;
    outline: none;
    font-size: 2rem;
    background-color:  rgb(255, 210, 210);
}
.contact input:hover{
    transition: 300ms;
    background-color:rgb(255, 143, 143);
}

footer{
    background-color: rgb(255, 210, 210);
    border-top: solid 0.1rem;
    border-color: violet;
    bottom: 0;
    position: sticky;
}
footer section{
    display: flex;
    justify-content: space-between;
}
footer div{
    justify-content: left;
    padding: 0.5rem 4rem 0.5rem 4rem ;
    display: flex;
}
footer div h4{
    padding-top: 0.5rem;
    font-size: 2rem;
}
footer div a{
    margin: 0 0 0 0.5rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size: 2.2rem;
    margin-left: 5%;
}

@media (max-width:955px)  { 
    /* smartphones, Android phones, landscape iPhone */
    
    body{
        background: url("./../resources/images/fondo2.jpg");
        
        background-size: 100%;
        background-repeat: repeat-y;
    }
    #NavBar__items li:not(:first-child) {
        display: none;
    }
    #NavBar__items li a.icon{
        float: right;
        display: block;
    }
}
@media (max-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone*/
    figure{
        width: 60rem;
    }
    figure img{
        max-height: 55rem;
    }
}
@keyframes LoadAnimation{
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}